@model Vacancy
@{
    ViewBag.Title = "Details";
    List<Skill> skills = ViewBag.SkillsList;
    List<MarkedZone> zones = ViewBag.ZonesList;
}

<h2><a href="@Model.Link">@Model.Title</a></h2>
<div class="row">
    @Html.HiddenFor(m=>m.Id)
    <div class="col-md-8">
        @Html.Raw(Model.ContentHtml)
    </div>
    <div class="col-md-4">
        <div class="row">
            @Html.DropDownList("skillsDropDown", new SelectList(skills, "Id", "Name"))
        </div>
        <div class="row">
            <input id="btnAddZone" type="submit" name="AddZone" value="Добавить"/>
        </div>
    </div>
</div>
<div id="markedZones">@Html.Partial("VacancyMarkedZones",zones)</div>

@section scripts
{
    <script>
        var copiedText = "";
        bindDelEvent();
        $(function () {
            $('#btnAddZone').click(function (e) {
                e.preventDefault();
                getSelectionText();
                alert(copiedText);
                var zone = new Object();
                zone.HighlightedText = copiedText;
                zone.Vacancy = new Object();
                zone.VacancyId = @Model.Id;
                zone.SkillId = $("#skillsDropDown option:selected").val();
                $.ajax({
                    url: "/api/MarkedZones",
                    type: "POST",
                    data: JSON.stringify(zone),
                    dataType: "json",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        alert("Everything fine!");
                        updatemarkedZones();
                    },
                    error: function () {
                        alert("An error has occured!!!");
                    }
                });
            });
        });

        function updatemarkedZones() {
            $('#markedZones').load("@Url.Action("VacancyMarkedZones", "TextMining", new { vacancyId = @Model.Id})", function() {
                bindDelEvent();
            });            
        }

        function getSelectionText() {
            if (window.getSelection) {
                copiedText = window.getSelection().toString();
            } else if (document.selection && document.selection.type != "Control") {
                copiedText = document.selection.createRange().text;
            }
        }

        function bindDelEvent() {
            $(function () {
                $('.btnDelZone').click(function (e) {
                    e.preventDefault();
                    var id = this.id;
                    $.ajax({
                        url: "/api/MarkedZones/"+id,
                        type: "DELETE",
                        success: function(data) {
                            alert("Row deleted!");
                            updatemarkedZones();
                        },
                        error: function () {
                            alert("An error has occured!!!");
                        }
                    });
                });
            });    
        }
        
</script>
}
